<div>
	<button class="btn btn-default" id="new-menu-btn" ng-click="toNewMenuPage()">New Menu</button>
	<div ng-cloak>
		<md-content class="md-padding" id="menu-content" layout-xs="column" layout="row">
		<div flex-xs flex-gt-xs="150" layout="column" class="menu-card" ng-repeat="menu in allMenus" ng-click="toSingleMenuPage(menu.id)">
			<md-card>
				<img ng-src="{{menu.displayImgUrl}}" class="md-card-image" width="200px" height="200px" alt="Display img"> 
				<md-card-title> 
					<md-card-title-text>
						<span class="md-headline">{{menu.title}}</span> 
					</md-card-title-text> 
				</md-card-title> 
				<md-card-content>
					<p>{{menu.content}}</p>
				</md-card-content> 
			</md-card>
		</div>
		</md-content>
	</div>
</div>