<div id="sign-up-div">
	<form role="form" id="sign-up-form">
		<div class="form-group">
			<label for="email">Email address:</label> <input type="email"
				class="form-control" ng-model="email" />
		</div>
		<div class="form-group">
			<label for="nickname">Nickname:</label> <input type="text"
				class="form-control" ng-model="nickname" />
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label> <input type="password"
				class="form-control" ng-model="pwd" />
		</div>
		<div class="form-group">
			<label for="re-pwd">Re-enter Password:</label> <input type="password"
				class="form-control" />
		</div>
		<div class="form-group">
			<label for="gender">Gender:</label>
			<div id="gender">
				<label class="radio-inline"> <input type="radio"
					name="gender-radio" value="Male" />Male
				</label> <label class="radio-inline"> <input type="radio"
					name="gender-radio" value="Female" />Female
				</label>
			</div>
		</div>
		<button type="submit" class="btn btn-default" ng-click="signUp()">Submit</button>
	</form>
</div>
